<div class="footer">
        <div class="container">
            <div class="row" style="padding: 26px;">
                <div class="col-sm-3">
                    <ul>
                        <li><a href="">Quem Somos</a></li> 
                        <li><a routerLink="/home" class="active">Como Funciona</a></li> 
                        <li><a href="">FAQs</a></li> 
                        <li><a href="">Contato</a></li> 
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li><a routerLink="/login" class="active">Login</a></li>
                        <li><a routerLink="/cadastro" class="active">Cadastro</a></li>
                        <li><a href="">Termos de Uso</a></li>
                        <li><a href="">Privacidade</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
