    <div class="container my-auto">
        <div class="row justify-content-center">
            <div class="col-12 text-center mt-4">
                <h3>CADASTRAR</h3>
            </div>
            <br>
            <div class="form-inline col-11 col-md-12 mt-2 mb-3 p-2">
                <form class="form col-md-6 mt-5">
                    <label class="ml-2 font-weight-bold mb-3" id="l-info-p">Informações pessoais</label>
                    <div class="form-group">
                        <!-- Razão social -->
                        <div *ngIf="nomeCads.touched && nomeCads.errors?.minlength" class="alert alert-warning col-md-10 col-lg-11 mt-2">
                            Nome deve conter no mínimo 2 letra e no máximo 40
                        </div>
                        <input [(ngModel)]="nomeCad" type="text" class="form-control p-1 mt-2 col-md-11 form-control p-1 mt-3 col-md-6"
                         id="name-input" 
                         placeholder=" Nome/Razão social"
                         minlength="2"
                         maxlength="40"
                         #nomeCads="ngModel"
                         name="nomeCad" 
                         required
                         (blur)="removeAlert()"
                         >
                         <!-- CPF -->
                        <div class="alert alert-danger col-md-10 col-lg-11 mt-2" *ngIf="cpfCads.touched && cpfCads.errors?.pattern">
                          Número inválido. Exemplo: 000-000-000-09/000-000-000-aZ
                       </div> 
                         <input [(ngModel)]="cpfCad" type="text" class="form-control p-1 mt-3 col-md-6" 
                         id="cpf-input" 
                         placeholder=" CPF"
                         pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9A-Za-z]{2}"
                         #cpfCads="ngModel"
                         name="cpfCad" 
                         required
                         (blur)="removeAlert()"
                         >
                        <!-- telefone -->
                         <input [(ngModel)]="telCad" type="text" class="form-control p-1 mt-3 col-md-5" 
                         id="tel-input" 
                         placeholder=" Telefone" 
                         pattern="\(?[0-9]{2}\)?[0-9]{5}-?[0-9]{4}" 
                         #telCads="ngModel" 
                         name="telCad" 
                         required
                         (blur)="removeAlert()"
                         >
                         <div class="alert alert-danger col-md-10 col-lg-11 mt-2" *ngIf="telCads.touched && telCads.errors?.pattern">
                            Número inválido. Exemplo: (11)12345-1234 / 11123451234 
                         </div> 
                        <!-- email -->
                         <input [(ngModel)]="emailCad" type="email" class="form-control p-1 mt-3 col-md-11" 
                        id="email-input" 
                        placeholder=" e-mail"
                        #emailCads="ngModel" 
                        email
                        name="emailCad"
                        required 
                        (blur)="removeAlert()"
                        >
                        <div class="alert alert-danger col-md-5 col-lg-11 mt-2" *ngIf="emailCads.touched && emailCads.errors?.email == true">
                            E-mail inválido.
                        </div> 
                        <!-- senha -->
                        <input [(ngModel)]="senhaCad" type="password" class="form-control p-1 mt-3 col-md-11"
                        id="senha-input"
                        placeholder=" senha"
                        #passCad="ngModel"
                        pattern="^-?(0|[1-9]\d*)?$" 
                        minlength="8"   
                        name="senhaCad" 
                        required 
                        >
                        <div class="alert alert-danger col-md-10 col-lg-11 mt-2" *ngIf="passCad.touched && passCad.errors?.pattern">
                            A senha deve conter apenas números
                        </div> 
                        <div *ngIf="passCad.touched && passCad.errors?.minlength" class="alert alert-warning col-md-10 col-lg-11 mt-2">
                            A senha deve conter no mínimo 8 caracteres 
                        </div>
                    </div>
                </form>
                <form class="form col-md-6 mb-5">
                    <label class="mt-3 ml-2 font-weight-bold" id="l-info-e">Endereço</label>
                    <div class="form-group">
                        <!-- CEP -->
                        <div class="alert alert-danger col-md-10 col-lg-10 mt-2" *ngIf="cepCads.touched && cepCads.errors?.pattern">
                            CEP inválido
                        </div>
                        <input type="text" [(ngModel)]="cepCad" class="form-control p-1 mt-3 col-md-4" 
                        id="cep-input" 
                        placeholder="CEP"
                        pattern="[0-9]{5}-?[0-9]{3}" 
                        #cepCads="ngModel" 
                        name="cepCad" 
                        required
                        >
                        <!-- Logadouro -->
                        <input type="text" class="form-control p-1 mt-3 col-md-6" id="log-input" placeholder="Logadouro"> 
                        <!-- numero -->
                        <input [(ngModel)]="numberCad" type="text" class="form-control p-1 mt-3 col-md-4" 
                        id="number-input" 
                        placeholder="Número"
                        pattern="^-?(0|[1-9]\d*)?$" 
                        #numberCads="ngModel" 
                        name="numeroCad" 
                        required>
                        <!-- bairro -->
                        <input type="text" class="form-control p-1 mt-3 col-md-6" id="bairro-input" placeholder="Bairro">
                        <div class="alert alert-danger col-md-10 col-lg-10 mt-2" *ngIf="numberCads.touched && numberCads.errors?.pattern">
                            Digite apenas números
                        </div> 
                    </div>
                </form>
            </div>
            <div class="col-12 mb-4 p-3 text-center col-md-12 col-lg-7">
                <button type="button" class="btn btn-primary w-100 col-md-7 col-lg-10" id="btn-cadastrar">Cadastrar</button>
                <a routerLink="/login"><label id="label-make-login">Já tem um cadastro? - Faça login!</label></a>
            </div>
        </div>
    </div>