<div class="container">
    <div class="row mt-5">
        <div class="col-10 col-md-8 col-lg-10 col-xl-12 offset-md-1 offset-lg-5">
            <form>
                <label for="enter-label" id="enter-label">ENTRAR</label>
                <div class="form-group">
                    <input [(ngModel)]="emailInput" type="email" class="form-control col-md-10 col-lg-6" 
                           id="email-input" 
                           placeholder="e-mail"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  
                           #e="ngModel"
                           name="emailInput" 
                           (blur)="removeAlert()"
                     >
                     <div class="alert alert-danger col-md-10 col-lg-6 mt-2" *ngIf="e.touched && e.errors.email == true">
                            E-mail inválido.
                    </div>  
                     <div class="alert alert-success col-md-10 col-lg-6 mt-2" *ngIf="e.touched && e.errors.email != true">
                            E-mail válido.
                    </div>  
                </div>
                <div class="form-group">
                    <input [(ngModel)]="senha"  type="password" class="form-control col-lg-6 col-md-10"
                        id="passInput" 
                        placeholder="Senha"
                        minlength="8" 
                        pattern="^-?(0|[1-9]\d*)?$" 
                        #pass="ngModel" 
                        name="senha" 
                        >
                        <div *ngIf="pass.touched && pass.errors?.minlength" class="alert alert-warning col-md-10 col-lg-6 mt-2">
                            A senha deve conter no mínimo 8 caracteres 
                        </div> 
                        <div class="alert alert-danger col-md-10 col-lg-6 mt-2" *ngIf="pass.touched && pass.errors?.pattern">
                            A senha deve conter apenas números
                        </div> 
                        <a href="#" class="d-flex justify-content-end mt-1 col-md-10 col-lg-6"><small id="forgot-password" class="form-text text-primary">Esqueceu a senha?</small></a>
                    </div>
                </form>
            </div>
            <button routerLink="/home" type="button" class="btn btn-primary " id="btn-enter">Entrar</button>
        </div>
    <div class="span12 mt-3"><a routerLink="/cadastro" class="ml-2">Crie sua conta</a></div> 
</div>
    
